:root{
--gray: #212121;
--green: #009660;
--white: #e9e9e9;
--black:#0c0c0c;
}


@font-face {
    font-family: neu;
    src: url(./NeueMachina-Regular.woff2);
}


@font-face {
    font-family: Hel;
    src: url(./Helvetica.ttf);
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


body{
    background-color: var(--black);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--white);
    font-weight: 1000;
    padding: 10px 30px;
    font-family: neu;
    position: fixed;
    width: 100%;
}


.nav1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    line-height: 1.5;
    
    
}



.nav1 img{
    height: 60px;
    
}





.nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 12px;
}


.nav2 img{
    height: 30px;
    border-radius: 50%;
}

.nav2 h4 i {
    font-size: 100px;
}


.nav3{
    display: none;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 12px;
}


.nav3 img{
    height: 30px;
    border-radius: 50%;
}

@media(max-width: 600px){
    nav{
       padding: 8px 15px; 
    }

    .nav1 img{
    height: 40px;
    }

    .nav1 h4{
        font-size: 8px;
    }

    .nav2{
        display: none;
    }

    .nav3{
        display: flex;
    }

}

main{
    padding-top: 100px;
    
}


.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--white);
    padding: 10px 30px;
    font-family: Hel;
}


.section1 .left{
    /* background-color: lightcoral; */
    width: 45%;



}

.section1 .left .tags{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 30px 0;

  

}

.section1 .left .tags h4{
    background-color: var(--gray);
    padding: 10px 20px;
    border-radius: 4px;
    white-space:nowrap;
}

